
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    <div class="col-md-3" style="background-color:red">
        Test          
    </div>            
    <div class="col-md-3" style="background-color:maroon">
        Test           
    </div>             
    <div class="col-md-3" style="background-color:green">
        Test          
    </div>            
    <div class="col-md-3" style="background-color:blue">
        Test
    </div>
</div>